@import "./mixins/css-variable-use";
@import "./mixins/css-variable-set";
@import "./mixins/generate";

$prismjs-material-theme--use-css-variables: 2;

$prismjs-material-theme--color: black !default;
$prismjs-material-theme--background: #f5f2f0 !default;
$prismjs-material-theme--text-shadow: none !default;
$prismjs-material-theme--font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !default;
$prismjs-material-theme--font-size: 1em !default;
$prismjs-material-theme--line-height: 1.5em !default;
$prismjs-material-theme--tab-size: 4 !default;

$prismjs-material-theme--selection--color: false !default;
$prismjs-material-theme--selection--background: #b3d4fc !default;

$prismjs-material-theme--pre--border-radius: 0 !default;
$prismjs-material-theme--pre--margin: .5em 0 !default;
$prismjs-material-theme--pre--padding: 1em !default;

$prismjs-material-theme--code--border-radius: .2em !default;
$prismjs-material-theme--code--padding: .1em !default;
