@import "prismjs-theme-sass-core/sass/core/generate";

$prismjs-theme-core--use-css-variables: 2;
$prismjs-theme-core--css-import-fonts: 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i';

$prismjs-theme-core--base: map-merge($prismjs-theme-core--base, (
		color: #eee,
		font-family: #{'Roboto Mono', monospace},
));

$prismjs-theme-core--selection: map-merge($prismjs-theme-core--selection, (
		color: #eee,
		background: #363636
));

$prismjs-theme-core--pre: map-merge($prismjs-theme-core--pre, (
		background: #2f2f2f
));

$prismjs-theme-core--code: map-merge($prismjs-theme-core--code, (
		background: #2f2f2f
));

$prismjs-theme-core--token-atrule: map-merge($prismjs-theme-core--token-atrule, (
		color: #c792ea
));

$prismjs-theme-core--token-attr-name: map-merge($prismjs-theme-core--token-attr-name, (
		color: #ffcb6b
));

$prismjs-theme-core--token-attr-value: map-merge($prismjs-theme-core--token-attr-value, (
		color: #a5e844
));

$prismjs-theme-core--token-attribute: map-merge($prismjs-theme-core--token-attribute, (
		color: #a5e844
));

$prismjs-theme-core--token-boolean: map-merge($prismjs-theme-core--token-boolean, (
		color: #c792ea
));

$prismjs-theme-core--token-builtin: map-merge($prismjs-theme-core--token-builtin, (
		color: #ffcb6b
));

$prismjs-theme-core--token-cdata: map-merge($prismjs-theme-core--token-cdata, (
		color: #80cbc4
));

$prismjs-theme-core--token-char: map-merge($prismjs-theme-core--token-char, (
		color: #80cbc4
));

$prismjs-theme-core--token-class: map-merge($prismjs-theme-core--token-class, (
		color: #ffcb6b
));

$prismjs-theme-core--token-class-name: map-merge($prismjs-theme-core--token-class-name, (
		color: #f2ff00
));

$prismjs-theme-core--token-comment: map-merge($prismjs-theme-core--token-comment, (
		color: #616161
));

$prismjs-theme-core--token-constant: map-merge($prismjs-theme-core--token-constant, (
		color: #c792ea
));

$prismjs-theme-core--token-deleted: map-merge($prismjs-theme-core--token-deleted, (
		color: #ff6666
));

$prismjs-theme-core--token-doctype: map-merge($prismjs-theme-core--token-doctype, (
		color: #616161
));

$prismjs-theme-core--token-entity: map-merge($prismjs-theme-core--token-entity, (
		color: #ff6666
));

$prismjs-theme-core--token-function: map-merge($prismjs-theme-core--token-function, (
		color: #c792ea
));

$prismjs-theme-core--token-hexcode: map-merge($prismjs-theme-core--token-hexcode, (
		color: #f2ff00
));

$prismjs-theme-core--token-id: map-merge($prismjs-theme-core--token-id, (
		color: #ff6666
));

$prismjs-theme-core--token-important: map-merge($prismjs-theme-core--token-important, (
		color: #c792ea,
		font-weight: bold
));

$prismjs-theme-core--token-inserted: map-merge($prismjs-theme-core--token-inserted, (
		color: #80cbc4
));

$prismjs-theme-core--token-keyword: map-merge($prismjs-theme-core--token-keyword, (
		color: #c792ea,
		font-style: italic
));

$prismjs-theme-core--token-number: map-merge($prismjs-theme-core--token-number, (
		color: #c792ea
));

$prismjs-theme-core--token-operator: map-merge($prismjs-theme-core--token-operator, (
		color: #89ddff
));

$prismjs-theme-core--token-prolog: map-merge($prismjs-theme-core--token-prolog, (
		color: #616161
));

$prismjs-theme-core--token-property: map-merge($prismjs-theme-core--token-property, (
		color: #80cbc4
));

$prismjs-theme-core--token-pseudo-class: map-merge($prismjs-theme-core--token-pseudo-class, (
		color: #a5e844
));

$prismjs-theme-core--token-pseudo-element: map-merge($prismjs-theme-core--token-pseudo-element, (
		color: #a5e844
));

$prismjs-theme-core--token-punctuation: map-merge($prismjs-theme-core--token-punctuation, (
		color: #89ddff
));

$prismjs-theme-core--token-regex: map-merge($prismjs-theme-core--token-regex, (
		color: #f2ff00
));

$prismjs-theme-core--token-selector: map-merge($prismjs-theme-core--token-selector, (
		color: #ff6666
));

$prismjs-theme-core--token-string: map-merge($prismjs-theme-core--token-string, (
		color: #a5e844
));

$prismjs-theme-core--token-symbol: map-merge($prismjs-theme-core--token-symbol, (
		color: #c792ea
));

$prismjs-theme-core--token-tag: map-merge($prismjs-theme-core--token-tag, (
		color: #ff6666
));

$prismjs-theme-core--token-url: map-merge($prismjs-theme-core--token-url, (
		color: #ff6666
));

$prismjs-theme-core--token-variable: map-merge($prismjs-theme-core--token-variable, (
		color: #ff6666
));

