//@import "../../prismjs-theme-sass-core/sass/core";

$prismjs-theme-sass-core--css-import-fonts: 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i';

$prismjs-theme-sass-core--base-font-family: #{'Roboto Mono', monospace};

$prismjs-theme-sass-core--selection-color: #263238;
$prismjs-theme-sass-core--selection-background: #cceae7;

$prismjs-theme-sass-core--pre-color: #90a4ae;
$prismjs-theme-sass-core--pre-background: #fafafa;
$prismjs-theme-sass-core--code-color: #90a4ae;
$prismjs-theme-sass-core--code-background: #fafafa;

@mixin prismjs-theme-core--pre() {
	&.language-css,
	&.language-sass,
	&.language-scss {
		> code {
			color: #f76d47;
		}
	}
}

// tokens

@mixin prismjs-theme-sass-core--token-atrule() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-attr-name() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-attr-value() {
	color: #f6a434;
}

@mixin prismjs-theme-sass-core--token-attribute() {
	color: #f6a434;
}

@mixin prismjs-theme-sass-core--token-boolean() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-builtin() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-cdata() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-char() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-class() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-class-name() {
	color: #6182b8;
}

//@mixin prismjs-theme-sass-core--token-color() {
//	color: #6182b8;
//}

@mixin prismjs-theme-sass-core--token-comment() {
	color: #aabfc9;
}

@mixin prismjs-theme-sass-core--token-constant() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-deleted() {
	color: #e53935;
}

@mixin prismjs-theme-sass-core--token-doctype() {
	color: #aabfc9;
}

@mixin prismjs-theme-sass-core--token-entity() {
	color: #e53935;
}

@mixin prismjs-theme-sass-core--token-function() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-hexcode() {
	color: #f76d47;
}

@mixin prismjs-theme-sass-core--token-id() {
	color: #7c4dff;
	font-weight: bold;
}

@mixin prismjs-theme-sass-core--token-important() {
	color: #7c4dff;
	font-weight: bold;
}

@mixin prismjs-theme-sass-core--token-inserted() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-keyword() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-number() {
	color: #f76d47;
}

@mixin prismjs-theme-sass-core--token-operator() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-prolog() {
	color: #aabfc9;
}

@mixin prismjs-theme-sass-core--token-property() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-pseudo-class() {
	color: #f6a434;
}

@mixin prismjs-theme-sass-core--token-pseudo-element() {
	color: #f6a434;
}

@mixin prismjs-theme-sass-core--token-punctuation() {
	color: #39adb5;
}

@mixin prismjs-theme-sass-core--token-regex() {
	color: #6182b8;
}

@mixin prismjs-theme-sass-core--token-selector() {
	color: #e53935;
}

@mixin prismjs-theme-sass-core--token-string() {
	color: #f6a434;
}

@mixin prismjs-theme-sass-core--token-symbol() {
	color: #7c4dff;
}

@mixin prismjs-theme-sass-core--token-tag() {
	color: #e53935;
}

@mixin prismjs-theme-sass-core--token-unit() {
	color: #f76d47;
}

@mixin prismjs-theme-sass-core--token-url() {
	color: #e53935;
}

@mixin prismjs-theme-sass-core--token-variable() {
	color: #e53935;
}
