$prismjs-theme-sass-core--css-import-fonts: false !default;

$prismjs-theme-sass-core--base-text-shadow: none !default;
$prismjs-theme-sass-core--base-font-family: #{Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace} !default;
$prismjs-theme-sass-core--base-font-size: 1em !default;
$prismjs-theme-sass-core--base-line-height: 1.5em !default;
$prismjs-theme-sass-core--base-tab-size: 4 !default;

$prismjs-theme-sass-core--selection-color: inherit !default;
$prismjs-theme-sass-core--selection-background: #b3d4fc !default;

$prismjs-theme-sass-core--pre-color: black !default;
$prismjs-theme-sass-core--pre-background: #f5f2f0 !default;
$prismjs-theme-sass-core--pre-border-radius: 0 !default;
$prismjs-theme-sass-core--pre-margin: .5em 0 !default;
$prismjs-theme-sass-core--pre-padding: 1.25em 1em !default;

$prismjs-theme-sass-core--code-color: black !default;
$prismjs-theme-sass-core--code-background: #f5f2f0 !default;
$prismjs-theme-sass-core--code-border-radius: .2em !default;
$prismjs-theme-sass-core--code-padding: .1em !default;

$prismjs-theme-sass-core--namespace-opacity: .7 !default;
